/*selektor css secara umum ya*/
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
}

div {
    display: block;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

h1 {
    font-family: 'Segoe UI', sans-serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/* ini adalah halaman untuk navigasi bar*/

#first-row {
    display: flex;
    flex-direction:column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

#navbar-logo {
    padding-bottom: 2px;
    flex: 1 0;
}

a:hover {
    color: yellow;
}

#login-btn {
    background-color: orange;
    color: #1f1f1f;

}

#login-btn:hover {
    background-color: #1f1f1f;
    color: yellow;

}
#header-wrapper {
    background-color: #421981;
    padding: 5px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 3;
    box-shadow: rgb(0 0 0 / 15%) 0px -2px 10px;
    user-select: none;
}

#main-wrapper {
    background-color: #e7ebefff;
    flex: 1;
}

.navigation-bar {
    float: right;
    height: 70px;
    width: 100%;
}

a {
    color: aliceblue;
    padding: 10px;
    margin: 5px;
    border-radius: 14px;
    float: left;
    text-decoration: none;
}

.navbar-brand {
    color: aliceblue;
    margin: 5px;
    border-radius: 14px;
    float: left;
}


/* css untuk footer*/

/* css untuk halaman login*/
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      #content-center {
        margin: auto;
      }

      .mb-4 {
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .btn-primary {
        --bs-btn: pink;
      }