#part-one{
    height: 600px;
    background-color: #1f1f1f;
    background-image: url('../img/main-cover.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    padding: 20px;
    box-sizing: border-box;
    /* clip-path: ellipse(125% 100% at 50% 0%); */
}
#part-one:hover{
    background-image: url('../img/main-cover-bw.png');
}

#intro-wrapper{
    color: white;
    max-width: 450px;
    margin-top: 7%;
    margin-left: 5%;
}

#intro-heading{
    line-height: 1.4;
    margin: 0 0 20px 0;
    left: 10%
}

#intro-text{
    line-height: 1.75;
    font-family: 'Nunito', sans-serif;
}

.flashy {
    border-bottom: 4px solid orange;
}

#signup-btn{
    font-size: 24px;
    font-weight: bold;
    color: #1479ff;
    background-color: white;
    padding: 7px 25px;
    border-radius: 20px;
    transition: .3s;
    display: inline-block;
}

#signup-btn:hover{
    transform: rotate(-5deg);
}

.of-title-wrapper{
    text-align: center;
}

.of-title{
    font-size: 30px;
    line-height: 1.4;
    transform: rotate(-5deg);
    background-image: url('https://tryout.iseng-project.id/img/why-iseng-bg.webp');
    margin-top: 50px;
    padding: 20px;
    color: white;
    font-style: italic;
    border-top: 20px solid orange;
    box-shadow: 0 9px 26px 0 rgb(0 0 0 / 30%);
}

.our-features{
    padding: 0 20px;
    margin: 20px auto;
    box-sizing: border-box;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.our-features::before{
    content: "";
    width: 20px;
    height: 100%;
    left: 50%;
    top: 0;
    position: absolute;
    background-color: gainsboro;
    box-shadow: 0 9px 26px 0 rgb(0 0 0 / 5%);
}

.of-unit{
    margin: 20px 0;
    display: flex;
    z-index: 2;
    transform: rotate(3deg);
}

.of-unit:nth-child(even){
    flex-direction: row-reverse;
    transform: rotate(-3deg);
}

.ofu-img-wrapper{
    margin: 0 20px;
    flex: 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ofu-text{
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
    color: #ffffff;
}

.ofu-title{
    font-size: 24px;
    line-height: 1.4;
    color: #1479ff;
}

.ofu-desc{
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    color: rgb(80,80,80);
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid orange;
    box-shadow: 0 9px 26px 0 rgb(0 0 0 / 5%);
}

#testimony-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimony-box{
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    flex: 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimony-msg{
    line-height: 1.5;
    color: rgb(50,50,50);
    margin: 0 0 20px 0;
}

.testimony-msg > .fa{
    font-size: 32px;
    color: orange;
    margin-right: 20px;
}

.respondent-box{
    display: flex;
    /* flex-direction: row; */
}

.respondent-img{
    margin-right: 20px;
}

.respondent-identity{
    display: flex;
    flex-direction: column;
}

.respondent-sm{
    color: #1479ff;
    margin: 5px 0;
    cursor: pointer;
}

.respondent-school{
    color: rgb(75,75,75);
}

#part-two{
    position: relative;
    margin: 20px auto;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.overview-box{
    max-width: 600px;
    margin: 125px 0 20px 0;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-top: 10px solid orange;
    box-shadow: 0 9px 26px 0 rgb(0 0 0 / 5%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

.overview-box:nth-child(even){
    align-self: flex-end;
}

.to-right, .to-left{
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.to-right{
    animation-name: to_right;
}

@keyframes to_right{
    0%{
        transform: translateX(-200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.to-left{
    animation-name: to_left;
}

@keyframes to_left{
    0%{
        transform: translateX(200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.overview-img{
    max-width: 100%;
    height: auto;
    margin-top: -125px;
    margin-bottom: 20px;
    pointer-events: none;
    user-select: none;
}

.overview-title{
    color: #1479ff;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.overview-text{
    color: rgb(50,50,50);
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    padding: 10px 0 10px 10px;
    border-left: 4px solid orange;
}

.separator1{
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #e7ebef;
}

.separator1-child{
    width: 50%;
    height: 100%;
    background-color: rgb(250,250,250);
    transform: translateY(100%);
}

.separator2{
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #e7ebef;
}

.separator2-child{
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: rgb(250,250,250);
    transform: translateY(-100%);
}

.to-top, .to-bottom{
    animation-duration: .4s;
    animation-delay: .4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.to-top{
    animation-name: to_top;
}

@keyframes to_top{
    0%{
        transform: translateY(60px);
    }
    100%{
        transform: translateY(0);
    }
}

.to-bottom{
    animation-name: to_bottom;
}

@keyframes to_bottom{
    0%{
        transform: translateY(-60px);
    }
    100%{
        transform: translateY(0);
    }
}

#part-three{
    background-color: rgb(250,250,250);
    padding: 100px 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.third-container{
    margin: 20px;
}

#what-to-do{
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    color: #1479ff;
}

.wtd-img{
    max-width: 100%;
    height: auto;
    pointer-events: none;
    user-select: none;
}

.wtd-text{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    line-height: 1.4;
    color: rgb(50,50,50);
    max-width: 500px;
}

.wtd-cta{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: #1479ff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 24px;
    display: inline-block;
    transition: .3s;
    box-shadow: 0 9px 26px 0 rgb(0 0 0 /5%);
}

.wtd-cta:hover{
    transform: translateY(-4px);
}